<!--plantid_app/templates/plantid_app/upload.html-->

<!DOCTYPE html>
<html>
    <head>
        <title>Upload Plant Image</title>
    </head>

<body>
    <h1>Upload a Plant Image</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    {% if image %}
        <h2>Uploaded Image</h2>
        <img src="{{ image.image.url }}" width="300"><br>
        <p>uploaded at: {{ image.uploaded_at }}</p>
    {% else %}
        <p>No image uploaded yet.</p>
    {% endif %}

    {% if prediction %}
        <h3>Prediction Result：{{ prediction }}</h3>
    {% endif %}

    
</body>
</html>

