<!--plantid_app/templates/plantid_app/upload.html-->

<!DOCTYPE html>
<html>
    <head>
        <title>Upload Plant Image</title>
    </head>

<body>
    <h1>Upload a Plant Image</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    <h2>Uploaded Image</h2>
    <ul>
        {% for image in images %}
            <li>
                <img src="{{ image.image.url }}" width="200">
                uploaded at : {{ image.uploaded_at }}          
            </li>
        {% empty %}
            <li>No images uploaded yet.</li>
        {% endfor %}
    </ul>
</body>
</html>

